button:focus, button:active{
    outline: none;
}
.card-button {
    width: 30%;
    height: 40px;
    border: 1px solid #95DBFF;
    background-color: #A6D9F7;
    box-shadow: 0 0 5px #95DBFF;
    border-radius: 0 15px 15px 0;
}

.card-button:hover{
    color: #f1f2f3;
}

.card-button:active{
    color: #f1f2f3;
    background-color: #717EC3;
    border: 1px solid #95DBFF;
}