.card-carousel-cont{
    width: 305px;
    height: 390px;
    border-radius: 40px;
    background-color: #FAFAFF;
}

.card-gramar-main{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: #FAFAFF;
    padding: 30px;
}

.card-title-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0 5px 0;
}

.card-img-content{
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    background-color: #E4D9FF   ;
}

.card-img-content img{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}

.card-title-text {
    font-size: x-large;
}

.card-write-answer {
    width: 100%;
    display: flex;
}
